<?xml version="1.0"?>
<launch>
    <param name="MODEL_S3_BUCKET" value="$(env MODEL_S3_BUCKET)" />
    <param name="MODEL_S3_PREFIX" value="$(env MODEL_S3_PREFIX)" />
    <param name="ROS_AWS_REGION" value="$(env ROS_AWS_REGION)" />
    <param name="JOB_TYPE" value="TRAINING" />
    <node name="agent" pkg="meiro_runner_robot" type="run_rollout_rl_agent.sh" output="screen" required="true"/>
</launch>
